body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 58px;
}

ul {
    list-style: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.pt-80 {
    padding-top: 80px;
}

.pt-20{
    padding-top: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.prl-150 {
    padding: 0 150px;
}

.pb-80 {
    padding-bottom: 80px;
}

.mt-160 {
    margin-top: 160px;
}
.mt-40 {
    margin-top: 40px;
}


/* HEADER */
.header-top {
    height: 80px;
    line-height: 80px;
}

.header-top .logo {
    vertical-align: middle;
    margin-left: 50px;
}

.header-top .row .icon-menu {
    font-size: 30px;
    margin-right: 20px;
}

ul.navbar-menu li,
ul.navbar-language li {
    display: inline-block;
    padding-right: 17px;
}

ul.navbar-menu li a,
ul.navbar-language li a {
    color: #343434;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

ul.navbar-language :not(li:last-child) a {
    border-right: 1px solid black;
    padding-right: 10px;
}

/* Jumbotron */
header .jumbotron {
    height: 675px;
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.jumbotron .jumb-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.jumbotron .jumb-title p {
  font-size: 20px;
}

/* Section 1 */
#vehicle .row img {
    width: 100%; 
}

#vehicle .row h2 {
    font-size: 35px;
}

#vehicle .row p {
    font-size: 25px;
}

#vehicle .row a {
    font-size: 18px;
    font-weight: 600;
    color: #212bfe;
}

.vehicle-bg {
    background-color: #fafafa;
}

/* Section 2 */
#work .work-bg {
    height: 500px;
    background-image: url('../img/index-banner.1f6fd0a.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
  
#work img {
    width: 100%;
    margin-top: -380px;
}
#work .row .step {
    margin-top: 100px;
    padding: 20px 60px 20px 40px;
}

#work .row .step-one{
    margin-top: 100px;
    padding: 20px 40px 20px 60px;
}

  

/* Section 3 */
#mobility .row {
    height: 500px;
    background-image: url('../img/scooter.f0a0397.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

#mobility .row [class*="col-"]{
    height: 100%;
}

#mobility .row .mobility-text {
    position: relative;
}

#mobility .row .smart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#mobility .row h2 {
    font-size: 40px;
}

#mobility .row p {
    font-size: 20px;
}

#mobility .row a {
    font-size: 18px;
    font-weight: 600;
    color: #ffffff;
}

/* Section 4 */
#where {
    color:white;
    margin-bottom: 50px;
}

#where a {
    display: block;
    color: white;
    font-weight: bolder;
}

#where h3 {
    font-size: 35px;
}

#where p {
    font-size: 20px;
}

#where .app {
    height: 400px;
    overflow: hidden;
    background: linear-gradient(#41566a,#252f38) 50% no-repeat;
}


 #where .city{
    height: 400px;
    background-image: url('../img/city.7c8c928.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/* Section 5 */
#collage {
    min-height: 400px;
    background-image: url('../img/helbiz-collage.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#collage .social {
    background-color: white;
    padding: 40px 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

#collage .social ul li {
    display: inline-block;
}

#collage .social ul li a {
    color: black;
    padding: 0 15px;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    padding-top: 80px;
}


footer hr {
    color: #707070;
    margin-top: 30px;
    margin-bottom: 30px;
}

footer .row h3 {
    text-transform: uppercase;
    padding-bottom: 15px;
    padding-top: 15px;
}

footer .row ul li {
    color: #707070;
    padding-bottom: 15px;

}

footer .row ul li a {
    color: #707070;
}


footer .row ul.social-f li {
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
}

footer .row.f-center ul li a {
    color: white;
}

footer .row.f-center a {
    color: white;
}



@media screen and (max-width: 992px) {
    h1 {
        font-size: 35px;
    }

    .jumbotron .jumb-title p {
        font-size: 18px;
      }

      #vehicle .row p {
        font-size: 15px;
    }

    #vehicle .row a {
        font-size: 12px;
    }

    .social-f{
        text-align: center;
    }

    .mq-d-none,
    #collage {
        display: none;
    }

    footer {
        text-align: center;
    }

}

@media screen and (max-width: 768px) {
    #mobility .row {
        background-position: right;
    }

    .mq-m-t-20 {
        margin-top: 20px;
    }

    #work .work-bg {
        background-position: 20%;
    }
}

