body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 58px;
}

ul {
    list-style: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

/* HEADER */
.header-top {
    height: 80px;
    line-height: 80px;
}

.header-top .logo {
    vertical-align: middle;
    margin-left: 30px;
}

.header-top .row .icon-menu {
    font-size: 30px;
    margin-right: 20px;
}

ul.navbar-menu li,
ul.navbar-language li {
    display: inline-block;
    padding-right: 17px;
}

ul.navbar-menu li a,
ul.navbar-language li a {
    color: #343434;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
}

ul.navbar-language :not(li:last-child) a {
    border-right: 1px solid black;
    padding-right: 10px;
}

/* Jumbotron */
header .jumbotron {
    height: 675px;
    background-image: url('../img/hero-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.jumbotron .jumb-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.jumbotron .jumb-title p {
  font-size: 20px;
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 35px;
    }

    .jumbotron .jumb-title p {
        font-size: 18px;
      }
}